concurrent = 1
check_interval = 0
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "gitlab-runner-1"
  url = "https://gitlab.userv.ru"
  id = 2
  token = "glrt-BjsjSs1RBjBoaDpQHNi6JG86MQpwOjMKdDozCnU6eQ8.01.1719l0w8x"
  token_obtained_at = 2025-11-22T11:32:06Z
  token_expires_at = 0001-01-01T00:00:00Z
  executor = "docker"
  [runners.cache]
    MaxUploadedArchiveSize = 0
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    pull_policy = "if-not-present"	
    tls_verify = false
    image = "alpine:latest"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
    network_mtu = 0
    dns = ["8.8.8.8", "8.8.4.4"]
    extra_hosts = ["gitlab.userv.ru:10.13.8.11"]
    network_mode = "bridge"
